<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
    <title>About Us</title>
</head>

<body>
    {{>navbar}}
    <section class="about">
        <div class="aboutdata">
            <div class="logo">
                <h1>About Us</h1>
            </div>
            <div class="content">
                <div class="aboutimg">
                    <img src="./Images/self.webp" alt="">
                </div>
                <div class="abouttext">
                    <div class="datatext">
                        <span>Name: Manoj Vaishnav</span>
                        <span>Email: manojvaishnav989@gmail.com</span>
                        <span>Mobile: 7300136910</span>
                        <div class="aboutsocial">
                            <a href="https://github.com/manojvaishnav" target="_blank"><i class="fa-brands fa-github"
                                    title="Git"></i></a>
                            <a href="https://www.linkedin.com/in/manoj-vaishnav" target="_blank"><i
                                    class="fa-brands fa-linkedin-in" title="LinkedIn"></i></a>
                            <a href="https://wa.me/7300136910" target="_blank"><i class="fa-brands fa-whatsapp"
                                    title="Whatsapp"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {{>footer}}
</body>

</html>