<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
    <title>Contact Us</title>
</head>

<body>
    {{>navbar}}
    <form action="">
        <section class="contactpage">
            <h1>Contcat Us</h1>
            <div class="contactdiv">
                <div class="nameinput">
                    <input type="text" placeholder="First Name" name="" id="fname" required>
                    <input type="text" placeholder="Last Name" name="" id="lname" required>
                </div>
                <input type="email" placeholder="Enter Email" id="email" required>
                <input type="tel" placeholder="Enter Phone Number" id="phone" required>
                <textarea name="" id="msg" cols="5" rows="4" placeholder="Enter Message" required></textarea>
            </div>
            <input class="submitbtn" id="submit" type="button" value="submit">
        </section>
    </form>
    {{>footer}}

    <script>
        const submit = document.getElementById('submit');
        const fname = document.getElementById('fname');
        const lname = document.getElementById('lname');
        const email = document.getElementById('email');
        const phone = document.getElementById('phone');
        const msg = document.getElementById('msg');

        const message = () => {
            if (fname.value === '') {
                alert('Please fil form first')
            }
            else if (lname.value === '') {
                alert('Please fil form first')
            }
            else if (email.value === '') {
                alert('Please fil form first')

            }
            else if (phone.value === '') {
                alert('Please fil form first')

            }
            else if (msg.value === '') {
                alert('Please fil form first')
            }
            else {
                alert('Thank You For Contact Us');
            }
        }
        submit.addEventListener('click', message);
    </script>
</body>

</html>