<nav>
    <div class="navbar">
        <div class="logo">
            <span id="logotext1"><a href="">Quotes</a></span>
            <span id="logotext2"><a href="">Website</a></span>
        </div>
        <div class="menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">AboutUs</a>
                <li><a href="/contact">ContactUs</a>
        </div>
    </div>
</nav>